[socket:{{app_name}}]
host = {{app_listen_ip}}
port = {{app.run_port}}

[watcher:{{app_name}}]
cmd = {{app.run_command}} 
args = {{app.run_args}}
use_sockets = True
numprocesses = {{app.num_processes}}
copy_env = True
virtualenv = {{app_venv_root}}
uid = {{app.user}}
gid = {{app.user}}
rlimit_as = {{app.rlimit_as | default(1073741824)}}

# log config
stdout_stream.class = FileStream
stdout_stream.filename = {{app_log_root}}/app-circus.log
# 100M
stdout_stream.max_bytes = 104857600
stdout_stream.backup_count = 5

stderr_stream.class = FileStream
stderr_stream.filename = {{app_log_root}}/app-circus.log
# 100M
stderr_stream.max_bytes = 104857600
stderr_stream.backup_count = 5

{% if app.environment is defined %}
[env:{{app_name}}]
{% for key, value in app.environment.iteritems() %}
{{ key }} = {{ value }}
{% endfor %}
{% endif %}
