server {
{% block server %}

  listen  80;
  server_name {{app.server_name}} www.{{app.server_name}};

{% endblock server %}
{% block logs %}

  access_log /var/log/nginx/{{app_name}}-access.log;
  error_log /var/log/nginx/{{app_name}}-error.log error;

{% endblock logs %}
{% block main %}

  location / {
    proxy_pass http://{{app_listen_ip}}:{{app.run_port}};
  }
{% endblock main %}
{% block extra %}{% endblock extra %}
}
